<a href="{{ path('app_product_show_locale', { _locale: app.request.locale, slug: product.slug }) }}">Show</a>
{{ source('@assets_images/icons/heart.svg')|raw }}
<img src="{{ asset('build/images/logo_bg.svg') }}" alt="" />
